/**
 * NG Button (Common)
 */
:-webkit-any(.st-bbs-contents, .sw-Article_List) .us-NGButton::before {
  content: '[NG]';
}

:is(.st-bbs-contents, .sw-Article_List) .us-NGButton::before {
  content: '[NG]';
}

:-webkit-any(.st-bbs-contents, .sw-Article_List) .us-NGID .us-NGButton::before {
  content: '[解除]';
}

:is(.st-bbs-contents, .sw-Article_List) .us-NGID .us-NGButton::before {
  content: '[解除]';
}

:-webkit-any(.st-bbs-contents, .sw-Article_List) .us-NGButton:hover {
  text-decoration: underline;
}

:is(.st-bbs-contents, .sw-Article_List) .us-NGButton:hover {
  text-decoration: underline;
}

/**
 * NG Button (Desktop)
 */
.st-bbs-contents .us-NGButton {
  color: #9b9b9b;
  font-size: 12px;
  margin-left: 8px;
}

/**
 * NG Button (Mobile)
 */
.sw-Article_List .at-List_Date {
  float: left;
  padding-right: 4px;
}

.sw-Article_List .us-NGButton {
  color: #999;
  font-size: 10px;
  vertical-align: text-top;
}

.sw-Article_List .us-NGButton::after {
  content: "";
  display: block;
  clear: both;
}

/* Work around: Comment body have been narrow width in rare case */
.sw-Article_List .at-List_Text {
  width: 100%;
}

/**
 * NG Name (Desktop)
 */
.st-bbs-contents .us-NGID:not(.us-NGView) .st-bbs_name {
  visibility: hidden;
  height: 14px;
  width: 4em;
}

.st-bbs-contents .us-NGID:not(.us-NGView) .st-bbs_name::before {
  visibility: visible;
  content: 'あぼーん';
}

.st-bbs-contents .us-NGID:not(.us-NGView) .st-bbs_resInfo .trip {
  display: none;
}

/**
 * NG Name (Mobile)
 */
.sw-Article_List .us-NGID:not(.us-NGView) .at-List_Name {
  visibility: hidden;
  height: 18px;
}

.sw-Article_List .us-NGID:not(.us-NGView) .at-List_Name .at-List_Num {
  visibility: visible;
}

.sw-Article_List .us-NGID:not(.us-NGView) .at-List_Name .at-List_Num::after {
  visibility: visible;
  content: 'あぼーん';
  color: #222;
  font-size: 12px;
  font-weight: normal;
  margin-left: 4px;
}

/**
 * NG Body (Desktop)
 */
.st-bbs-contents .us-NGID:not(.us-NGView) + .st-bbs_resbody {
  visibility: hidden;
  height: 16px;
}

.st-bbs-contents .us-NGID:not(.us-NGView) + .st-bbs_resbody::before {
  visibility: visible;
  content: 'あぼーん';
  display: block;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6e6;
}

/**
 * NG Body (Mobile)
 */
.sw-Article_List .us-NGID:not(.us-NGView) .at-List_Text {
  visibility: hidden;
  height: 18px;
}

.sw-Article_List .us-NGID:not(.us-NGView) .at-List_Text::before {
  visibility: visible;
  content: 'あぼーん';
  display: block;
}

.sw-Article_List .us-NGID:not(.us-NGView) :-webkit-any(.at-List_Illust, .at-List_Piko, .at-List_Piko-title, .at-Piko_Btn) {
  display: none;
}

.sw-Article_List .us-NGID:not(.us-NGView) :is(.at-List_Illust, .at-List_Piko, .at-List_Piko-title, .at-Piko_Btn) {
  display: none;
}
